.tl-noselection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor:default !important;
}

.tl-transition {
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

.tl-transition-color {
  transition:0.2s ease background,color,border; 
  -moz-transition:0.2s ease background,color,border; 
  -webkit-transition:0.2s ease background,color,border;
}

.tl-transition-opacity {
  transition:0.2s ease opacity; 
  -moz-transition:0.2s ease opacity; 
  -webkit-transition:0.2s ease opacity;
}

.tl-box-size {
  box-sizing:border-box !important;
  -moz-box-sizing:border-box !important;
  -webkit-box-sizing:border-box !important;
}


.timeline-js {
  background:@background;
  color:@text;
  font-family:@font;
  position:relative;
  height:100%;
  width:100%;
  border-bottom:1px solid @background-alt;
  overflow:hidden;
  .tl-box-size;
  .tl-noselection;
}

.tl-time-indicator {
  height:25px;
  position:relative;
  width:50000px;

  background:@timepanel;
  font-size:8px;
  color:@timemarks;
  border-bottom:1px solid @background-alt;
  overflow:hidden;
  .tl-box-size;
}

.tl-time-indicator .time {
  position:absolute;
  top:2px;
  padding-bottom:1px;
  display:inline-block;
  border-left:1px solid @timemarks;
  height:80%;
  padding-left:2px;
  .tl-box-size;
}

.tl-time-indicator .time-knob {
  width:2px;
  height:25px;
  background:@background-alt;
}

.tl-time-marker {
  position: absolute;
  left:220px;
  height:100%;
  width:2px;
  top:45px;
  background:#AA0000;
  z-index:1;
}

.tl-time-marker-handle {
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #AA0000;
  transform: translate(-7px, 0);
}

@import "lane.less";
@import "controls.less";
//@import "block.less";
