
@font: 'Roboto';

@background: #242424;
@text: #999;

@background-alt: #282828;
@text-alt: #F2F2F2;

@background-highlight: #333;
@text-highlight: #eee;

@block: #01579B;
@block-resizer: #FFF3E0;

@import "base.less";
